<?xml version="1.0"?>
<!--
/**
* @author Botgento Team
* @copyright Copyright (c) 2017 Botgento (https://www.botgento.com)
* @package Botgento_Base
*/
-->
<!--
/**
* Copyright © 2017 Botgento. All rights reserved.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <botgento_base>
            <base>
                <status>0</status>
                <checkbox_enable>1</checkbox_enable>
                <!--<facebook_button>1</facebook_button>-->
            </base>
            <order>
                <snd_order_cnf_seconds><![CDATA[0]]></snd_order_cnf_seconds>
                <snd_ord_confirmation>1</snd_ord_confirmation>
                <snd_shipment_detail>1</snd_shipment_detail>
            </order>
            <instock>
                <enabled>0</enabled>
                <button_text>ALERT_ME_IN_MESSENGER</button_text>
                <button_color>blue</button_color>
                <button_size>large</button_size>
            </instock>
        </botgento_base>
    </default>
</config>
