<?xml version="1.0"?>
<!--
/**
* @author Botgento Team
* @copyright Copyright (c) 2017 Botgento (https://www.botgento.com)
* @package Botgento_Base
*/
-->
<!--
/**
* Copyright © 2017 Botgento. All rights reserved.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="botgento_base_config" xsi:type="object">Botgento\Base\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="botgento-api" xsi:type="string">Botgento\Base\CustomerData\FbButton</item>
                <item name="abandon-cart" xsi:type="string">Botgento\Base\CustomerData\AbandonCart</item>
                <item name="in-stock" xsi:type="string">Botgento\Base\CustomerData\InStockAlert</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\RouterList" shared="true">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="botgento" xsi:type="array">
                    <item name="class" xsi:type="string">Botgento\Base\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip_for_botgento_api" type="Botgento\Base\Plugin\CsrfValidatorSkipForBotgentoApi" />
    </type>
</config>
